.para-text{
    font-size: 13px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 18px;
    color: #999;
    margin-left: 0px !important;
    max-height: none;
}
.input-rate{
    margin-top: 8px;
}





