.side-navigation {
  transition: all 0.5s;
  width: 256px;
  height: calc(100vh - 100px);
  background: #4A154B !important;
}

.side-navigation li:first-child {
  margin-top: 20px;
}

.side-navigation li a {
  color: white;
  font-family: 'Roboto';
}

.side-navigation li.active a {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-navigation li.active a:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translateX(-50%);
  left: 100%;
  top: 50%;
}
