
.card-response{
    top: 200px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
}

@media screen and (max-width:576px){
    .card-response{
        width: 90%;
    }
    body{
      overflow: scroll ;
    }
} 
@media screen and (max-width:1280px){
    body{
      overflow: scroll ;
    }
} 
 
