.link-space{
    margin-top: 10px;
    margin-bottom: 25px;
}

.heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-response{
    top: 12%;
    background: #FBFBFB 0% 0% no-repeat padding-box;
}
body{
    overflow-y: scroll;
}

.star-mark{
    color: red;
}

@media screen and (max-width:576px){
    .card-response{
        width: 90%;
    }
} 
 
