html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif !important;
}

.card {
  padding: 10px;
  border: none !important;
  box-shadow: 0px 0px 6px #ccc !important;
  border-radius: 4px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da;
}

.common-btn {
  background-color: #4a154b !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #ffff !important;
  border: none !important;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 30px 8px 30px;
}

.common-btn:hover {
  background-color: #4a154b21 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #4a154b !important;
  border-color: #4a154b !important;
}
.common-link {
  color: #df6404 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.menuBar {
  cursor: pointer !important;
}

.star-mark {
  color: red;
}

.errorMsg {
  color: red;
  font-size: 14px;
}

.togglepass {
  float: right;
  margin-left: -25px;
  margin-top: -26px;
  margin-right: 6px;
  position: relative;
  font-size: large;
  z-index: 2;
  color: #4a154b;
}
.card-hover {
  cursor: grab;
}
.card-tab:hover{
  box-shadow: 0 0 20px #aaa !important;
  cursor: pointer;
}
.content {
  width: 100%;
  
}

#header_nav{
  position: sticky;
  top: 0;
  background:white !important;
}
.page-content{
  margin-left: 250px;
}
@media (max-width:992px){
  .page-content{
    margin-left: 0px;
  }
}