.response{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FBFBFB 0% 0% no-repeat padding-box;
}

@media (max-width:576px){
    .response{
        width: 90%;
    }
} 